
[Unit]
Description=Yoyodyne Neotrellis
After=network.target

[Service]
Type=simple
ExecStart=/root/lejeudelamort/systemd-service.py
WorkingDirectory=/root/lejeudelamort

[Install]
WantedBy=multi-user.target

