
[Unit]
Description=Yoyodyne Neotrellis OSC service
After=network.target

[Service]
Type=simple
#ExecStart=/bin/pwd
ExecStart=/root/lejeudelamort/server
WorkingDirectory=/root/lejeudelamort

[Install]
WantedBy=multi-user.target

